

<nav class="navbar">
    <a href="/" class="logo">MyBlog</a>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/new-blog">Add New Blog</a>
    </div>
</nav>



