<!DOCTYPE html>
<html>

<head>
    <title>Simple Backend Test</title>
</head>

<body>
    <h3><a href="/about-me">About Me</a></h3>

    <h2>User Form</h2>

    <form action="/submit" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="<%= name %>"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" value="<%= email %>"><br><br>

        <button type="submit">Send</button>
    </form>



</body>

</html>